.node {
  height: 30px;
  width: 30px;
  border: #5ce0f5 solid 1px;
  display: inline-block;
}

.grid {
  border: #5ce0f5 solid 1px;
  margin: auto;
  width: 1279.6px;
  height: 605.9px;
}

.row {
  height: 32px;
  width: 1280px;
}

.start {
  background-color: #78e063;
  border: #78e063 solid 1px;
}

.finish {
  background-color: #fa3703;
  border: #fa3703 solid 1px;
}

.blocked {
  background-color: #06505c;
  border: #06505c solid 1px;
}
